.sidebar-fixed {
    >* {
        transition: .2s all;
    }

    .sidebar {
        position: fixed;
        width: $sidebar-wrapper-width-lg;
        z-index: 1000;

        .sidebar-wrapper-inner {
            height: 100vh;
        }

        @include media-breakpoint-up('md') {
            margin: 0;

            .toggled & {
                margin-left: -#{$sidebar-wrapper-width-lg};
            }
        }

        @include media-breakpoint-down('md') {
            margin-left: -#{$sidebar-wrapper-width-lg};
            background-color: $gray-100;

            .toggled & {
                margin: 0;
            }
        }

        &-light {
            color: $gray-600;
            border-right: 1px solid $gray-300;

            .sidebar-title {
                padding: .5rem 1rem;
                min-height: 4.6875rem;
                display: flex;
                width: 100%;
                align-items: center;

                a.sidebar-title-link {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 100%;
                    flex: 1;

                    img {
                        max-height: 36px;
                        width: auto;
                    }
                }

                @include media-breakpoint-down('md') {
                    .toggler {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        padding: .5rem .25rem .5rem 1rem;
                    }
                }
            }

            .sidebar-widget {
                padding: 1rem;
            }

            .sidebar-footer {
                padding: 1rem;
            }
        }
    }
}