.nav-item {

    &.no-arrow>a.nav-link::after {
        display: none !important;
        width: 0 !important;
    }

    @include media-breakpoint-down('md') {
        &.static {
            position: static;
        }

        .dropdown-menu {
            width: calc(100% - (1rem * 2));
            margin: 0 1rem;
        }
    }

    &.mega-menu.static {
        position: static;

        .dropdown-menu {
            width: calc(100% - (1rem * 2));
            margin: 0 1rem;
        }
    }

    &.nav-profile {
        .dropdown-menu {
            @include media-breakpoint-up('md') {
                min-width: 250px;
            }

            border-top: 3px solid $primary;
            padding-top: 0;

            .dropdown-header {
                padding: 1rem;
                border-bottom: 1px solid $gray-300;
                margin-bottom: .5rem;
                background-color: $gray-100;

                .user-info {
                    display: flex;

                    .detail {
                        padding-left: .75rem;
                        flex: 1;

                        .title {
                            font-weight: 600;
                            font-size: 1rem;
                            margin-bottom: 0;
                            color: $gray-700;
                        }

                        .job {
                            color: $text-muted;
                            margin-bottom: 0;
                            font-size: .9rem;
                        }
                    }
                }
            }
        }

        @include media-breakpoint-down('md') {
            position: static;

            .dropdown-menu {
                width: calc(100% - (1rem * 2));
                margin: 0 1rem;
            }
        }

        >a.nav-link::after {
            display: none !important;
            width: 0 !important;
        }
    }
}